{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <H1>Mes projets : </H1>
        <div class="row row-cols-1 row-cols-md-3 g-4">
            {% for projects in project %}
                <div class="card-group col">
                    <div class="card">
                        <img src="..." class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">{{ projects.title }}</h5>
                            <p class="card-text">{{ projects.description }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
