{% extends 'base.html.twig' %}

{% block body %}
    <section class="page-section" id="services">
        <div class="container px-4 px-lg-5">
            <h2 class="text-center mt-0">Compétences</h2>
            <hr class="divider" />
            <div class="row gx-4 gx-lg-5">
                {% for skill in skills %}
                    <div class="col-lg-3 col-md-6 text-center">
                        <div class="mt-5">
                            <div class="mb-2"><img src="{{ skill.imageFile }}"></div>
                            <h3 class="h4 mb-2">{{ skill.title }}</h3>
                            <p class="text-muted mb-0">{{ skill.description }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}
